{% extends 'base.html' %}
{% block title %} Products {% endblock %}
  
    height: 80px;
    text-align: center;
    vertical-align: middle;
  
</style>
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Acrostra</h1>
    <p class="lead">Address: 6 Glendevon Court, Montego Bay, St. James</p>
    <hr class="my-4">
    <p>Contact:  </p>
  </div>
  <h2>Store Products</h2>

  <table class="table" >
    {% for item in data %}
   
    <tbody>
      <tr>
        <td ><img src="static\images\pics\No_Image_Available.jpg" alt="" width="30%"></td>
        <td style="  height: 80px;
        text-align: center;
        vertical-align: middle;"><h2>{{item.Item_Description}}</h2>
        <p>{{item.Price}}</p>
      </td>
      </tr>
      
    </tbody>
    {% endfor %}
  </table>
   
  {{ pagination.links }}
</div>

  
     
    
 
{% endblock %}