<!--Acrostra store  -->
{% extends 'base.html' %}
{% block title %} Acrostra {% endblock %}

    height: 80px;
    text-align: center;
    vertical-align: middle;
  
</style>
{% block content %}
<script> let address = document.getElementById('address');
       
</script>
<a href="/geolocation" class="btn btn-success">Directions</a>

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Acrostra</h1>
    <p class="lead" id="address">Address: 11 Oxford Road, Kingston, Jamaica</p>
    <hr class="my-4">
    <p>Contact:  </p>
  </div>
  <h2>Store Products</h2>
  {{ pagination.info}}

  <table class="table" >
    {% for item in data %}
   
    <tbody>
      <tr>
        <td ><img src="static\images\pics\No_Image_Available.jpg" alt="" width="30%"></td>
        <td style="  height: 80px;
        text-align: center;
        vertical-align: middle;"><h2>{{item.Item_Description}}</h2>
        <h4>{{item.Price}}</h4>
      </td>
      </tr>
      
    </tbody>
    {% endfor %}
  </table>
   
  {{ pagination.links }}
</div>

  
     
    
 
{% endblock %}