{% extends 'base.html' %}
{% block content %}
<section class="categories">
    <p class="text-center fs-1">Browse by Categories</p>
    <div class="container">
        <div class="row" >
            <div class="col stationary text-white">
             <div class="container">
                  
                 <p class="fs-1">Stationary</p>
                 <button type="button" class="btn btn-outline-light">click here</button>
             </div>
            </div>
            <div class="col bags text-white">
              <p class="fs-1">Bags</p> 
              <button type="button" class="btn btn-outline-light">click here</button>
            </div>
            <div class="col books text-white">
            
             <p class="fs-1"> Books</p>
             <button type="button" class="btn btn-outline-light">click here</button>
            </div>
          </div>
        <div class="row">
          <div class="col mens text-white">
              <p class="fs-1">  Mens</p>
              <button type="button" class="btn btn-outline-light">click here</button>
          </div>
          <div class="col womens text-white">
          <p class="fs-1">Womens</p> 
          <button type="button" class="btn btn-outline-light">click here</button>
          </div>
        </div>
        
      </div>
</section>
{% endblock %}