{% extends 'base.html' %}
{% block content %}


{% for item in data %}
<div class="container">
  <div class="row">
    <div class="col">
      <img src="static\images\pics\No_Image_Available.jpg" alt="tshirt">
    </div>
    <div class="col details">
    <h1>{{item.Item_Description}}</h1>
    <h3>{{item.Qty}}</h3>
    <h2 class="price d-inline">{{item.Price}}</h2>
    <h3>{{item.Department}}</h3>
    <!-- <p>Classic Boxy Heavyweight 705 Circle Logo Tee
    705 Circle Logo Print on Front & Back

      Pigment Dyed, Garment Washed</p> -->
    
    <!-- <div class="size" >
      <h6>Size</h6>
      <button class="btn">S</button>
      <button class="btn">M</button>
      <button class="btn">L</button>
      <button class="btn">XL</button>
    </div> -->
    <div class="compare">
      <button type="button" class="btn  btn-lg"><img alt="location" src="static/images/compare.svg" > Go to store </button>
      
    </div>
    </div>
  </div>
  
</div>
{% endfor %}
  {% endblock %}