{% extends 'base.html' %} {% block content %}

<title>{% block title %}Home{% endblock %}</title>
<script>
  $(function() {
    $(".icon").click(function(){
      var search_word = $("#search-box").val();
      var data = 'search_word=' + search_word;
      if(search-word==''){
      }else{
        $.ajax({
          type: "POST",
          url: "/se",
          data: data,
          cache: false,
          beforeSend: function(html){
            document.getElementById("").innerHTML = '';

          },
          success: function(html){
            $("#").show()
          }
        })
      }
      return false;
    })
  })
  </script>
<style>
  body {
    background-image: url("https://images.unsplash.com/photo-1619252584172-a83a949b6efd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80");
    background-size: cover;
  }

  header {
    padding: 30px;
    border-radius: 10px;
    height: auto;
   
  }

  header h1{
    font-size: 90px;
    
  }

 
  .box{

width: 500px;

height: 50px;

background-color:white;

border-radius: 30px;

display: flex;

align-items: center;

padding: 20px;

}

.box > i {

font-size: 20px;

color: #777;

}

.box > input{

flex: 1;

height: 40px;

border: none;

outline: none;

font-size: 18px;

padding-left: 10px;


}

   
 
</style>


<header>
  <div class="container my-auto">
    <div class="row">
      <div class="col">
        <h1 class="text-center  ">What will you search for today?</h1>
  <form class="d-flex container" method="post">
    <div class="box">

   <i class="icon fa fa-search" aria-hidden="true" value="search"></i>
    
      <input type="text" id="search-box" name="search" value="search">
      
    </div>
  </form>
      </div>
      <div class="col">
        <img src="static\images\ivana-cajina-dnL6ZIpht2s-unsplash-removebg-preview (1).png" alt="smiling">
      </div>
    </div>
   
  </div>
  
</header>

<section class="container">
  <h1 class="d-flex justify-content-center align-items-center">Bestsellers</h1>
  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Nike sneaker</h5>
          <p>Some representative placeholder content for the first slide.</p>
          <button type="button" class="btn btn-light opacity-25">
            Details
          </button>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://images.unsplash.com/photo-1592496431122-2349e0fbc666?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1824&q=80"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Books</h5>
          <p>Some representative placeholder content for the second slide.</p>
          <button type="button" class="btn btn-light opacity-25">
            Details
          </button>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://images.unsplash.com/photo-1547949003-9792a18a2601?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Backpack</h5>
          <p>Some representative placeholder content for the third slide.</p>
          <button type="button" class="btn btn-light opacity-25">
            Details
          </button>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<section>
  <p class="text-center fs-1">Browse by Categories</p>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="stationary text-white">
          <div class="container">
            <p class="fs-1">Stationary</p>
            <button type="button" class="btn btn-outline-light">
              click here
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="bags text-white">
          <div class="container">
            <p class="fs-1">Bags</p>
            <button type="button" class="btn btn-outline-light">
              click here
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="books text-white">
          <div class="container">
            <p class="fs-1">Books</p>
            <form action="books" method="post">
              <input class="btn btn-outline-light" name="books" type="submit" value="books" />
          </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="mens text-white">
          <div class="container">
            <p class="fs-1">Mens</p>
            <button type="button" class="btn btn-outline-light">
              click here
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="womens text-white">
          <div class="container">
            <p class="fs-1">Womens</p>
            <button type="button" class="btn btn-outline-light">
              click here
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="tech text-white">
          <div class="container">
            <p class="fs-1">Accssories</p>
            <button type="button" class="btn btn-outline-light">
              click here
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}
