{% extends 'adminbase.html' %}
{% block content %}

<div class="col py-3">
  <h1>Product Table</h1>

  <table id='data' class="table align-middle mb-0 bg-white">
    <thead class="bg-light table-dark">
      <tr>
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
          </div>
        </th>
        <th>Item Number</th>
        <th>Product Title</th>
        <th>Department</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Status</th>
        <th style="color:black">          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add">
            Add Product
          </button>
         
<!-- Modal -->
<div class="modal fade" id="add" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add Product </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-4">
            <label for="product_name" class="form-label">Product title</label>
            <input type="text" name="productname"  class="form-control" id="product_name">
          </div>
  
          
  
          <div class="mb-4">
            
             
                  <label for="Image" class="form-label">Upload Image</label>
                  <input class="form-control" type="file" id="formFile" onchange="preview()">
                  <button onclick="clearImage()" class="btn btn-primary mt-3">Delete Image</button>
             
              <img id="frame" src="" class="img-fluid" />
        
          </div>
  
          
  
          <div class="row gx-2">
            <div class="col-sm-6 mb-3">
              <label for="product_name" class="form-label">Quantity</label>
              <input type="number" class="form-control">
            </div>
            <div class="col-sm-6 mb-3">
                <label class="form-label">Category</label>
                <select class="form-select">
                  <option> Books </option>
                  <option> Stationery </option>
                  <option> Craft </option>
                  <option> uniform </option>
                  <option> Clothing </option>
                  
                </select>
              </div>
              <!-- <div class="col-sm-6 mb-3">
                <label class="form-label">Sub-category</label>
                <select class="form-select">
                  <option> Nissan </option>
                  <option> Honda </option>
                  <option> Mercedes </option>
                  <option> Chevrolet </option>
                </select>
              </div> -->
          </div> <!-- row.// -->
  
  
          <div class="mb-4">
            <label class="form-label">Price</label>
            <div class="row gx-2">
              <div class="col-4">
                  <input placeholder="Type" type="text" class="form-control">
                </div>
              <div class="col-2">
                  <select class="form-select">
                    <option> JMD </option>
                    <option> USD </option>
                  </select>
              </div>
            </div> <!-- row.// -->
          </div>
  
        
  
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
        </th>
      </tr>
    </thead>{% for item in data %}
    <tbody>
      <tr>
        <th scope="row">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
          </div>
        </th>
        <th scope="row">{{item.Item_Number}}</th>

        <td>
          <p>{{item.Item_Description}}</p>

        </td>
        <td>
          <p>{{item.Department}}</p>
        </td>
        <td>{{item.Qty}}</td>
        <td>{{item.Price}}</td>
        <td>
          <button type="button" class="btn btn-sm btn-rounded" style="background-color:#48D985 ;">
            Available
          </button>
        </td>
        <td>
           <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Edit
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Update Product Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-4">
            <label for="product_name" class="form-label">Product title</label>
            <input type="text" placeholder="Type here" class="form-control" id="product_name">
          </div>
  
          <div class="mb-4">
            <label class="form-label">Item description</label>
            <textarea placeholder="Type here" class="form-control" rows="4"></textarea>
          </div>
  
          <div class="mb-4">
            
             
                  <label for="Image" class="form-label">Upload Image</label>
                  <input class="form-control" type="file" id="formFile" onchange="preview()">
                  <button onclick="clearImage()" class="btn btn-primary mt-3">Delete Image</button>
             
              <img id="frame" src="" class="img-fluid" />
        
          </div>
  
          
  
          <div class="row gx-2">
            <div class="col-sm-6 mb-3">
              <label for="product_name" class="form-label">Quantity</label>
              <input type="number" class="form-control">
            </div>
            <div class="col-sm-6 mb-3">
                <label class="form-label">Category</label>
                <select class="form-select">
                  <option> Books </option>
                  <option> Stationery </option>
                  <option> Craft </option>
                  <option> uniform </option>
                  <option> Clothing </option>
                  
                </select>
              </div>
              <!-- <div class="col-sm-6 mb-3">
                <label class="form-label">Sub-category</label>
                <select class="form-select">
                  <option> Nissan </option>
                  <option> Honda </option>
                  <option> Mercedes </option>
                  <option> Chevrolet </option>
                </select>
              </div> -->
          </div> <!-- row.// -->
  
  
          <div class="mb-4">
            <label class="form-label">Price</label>
            <div class="row gx-2">
              <div class="col-4">
                  <input placeholder="Type" type="text" class="form-control">
                </div>
              <div class="col-2">
                  <select class="form-select">
                    <option> JMD </option>
                    <option> USD </option>
                  </select>
              </div>
            </div> <!-- row.// -->
          </div>
  
        
  
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>
        </td>
        <td>
          <a class="btn btn-danger btn-xs" href=""
          onclick="return confirm('Are You Sure To Delete ?')">
         Delete
       </a>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>


  {{ pagination.links }}
</div>
<script>
  // if(localStorage.getItem("darkmode")){
  //     var body_el = document.body;
  //     body_el.className += 'dark';
  // }
  function preview() {
              frame.src = URL.createObjectURL(event.target.files[0]);
          }
          function clearImage() {
              document.getElementById('formFile').value = null;
              frame.src = "";
          }
</script>

<script src="js/jquery-3.5.0.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>

<!-- Custom JS -->
<script src="js/script.js?v=1.0"></script>
{% endblock %}