<a href="/geolocation" class="btn btn-success">Directions</a>

<h3>{{numrows}} Records Found</h3>
<table class="table" >
    {% for item in data %}
   
    <tbody>
      <tr>
        <td ><img src="static\images\pics\No_Image_Available.jpg" alt="" width="30%"></td>
        <td style="  height: 80px;
        text-align: center;
        vertical-align: middle;"><h2>{{item.Item_Description}}</h2>
        <h4>{{item.Price}}</h4>
      </td>
      </tr>
      
    </tbody>
    {% endfor %}
  </table>