<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cardlist.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">    

    <title>Document</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Old Habour Books and Stationary</h1>
        <p class="lead">Shop #3 Glendon Court, 1 Vaz Dr, Old Harbour</p>
        <hr class="my-4">
        <p>Contact:  (876) 745-3658</p>
      </div>
      
     
        <div class="container">
            {% for item in data %}
       
        </div>
        <div class="card" style="width: 100%;">
            <img class="card-img-top" src="static\images\pics\No_Image_Available.jpg" alt="Card image cap" height="2.8rem">
            <div class="card-body justify-content-center">
                <h2>{{item.Item_Description}}</h2> 
                <p>{{item.Price}}</p>    
            </div>
          </div>
        
        {% endfor %}
      
      
</body>
</html>