{% extends 'adminbase.html' %}
{% block content %}
    <div class="container">
        <div class="mt-4 p-5 bg-primary text-white rounded  my-auto">
            <a href="{{ url_for('logout') }}" style="float: right ;"><button type="button" class="btn btn-primary"><i class="fa-solid fa-right-from-bracket"></i>Logout</button></a>
        <h2>Welcome!</h2>
        <h1>Upload your csv file</h1>
        <form method="POST" action="" enctype="multipart/form-data">
            <p ><input  type="file" name="file"></p>
            <p><input class="btn btn-success" type="submit" value="submit"></p>
            <div class="msg">{{ msg }}</div>
        </form>
          </div>
          
        
        
    </div>


{% endblock %}