body {
    background-color: #fafafb;
    font-family: "Inter";
  }
  
  .navbar-dark {
    background-color: #272DBE;
  }
  
  .navbar-brand img {
    width: 100px;
  }
  
  nav .navbar-nav li a {
    color: #ffffff;
    text-transform: uppercase;
  }
  a {
    color: #ffffff;
  }
  .nav-link {
    color: #fbeeff;
  }
  
  .nav-link:hover {
    color: #fbeeff;
  }

  
  
  .btn-submit {
    background-color: #ffffff;
    color: rgb(2, 2, 2);
  }

  
  .btn-filter{
      background-color: #272DBE;
      color: white;
      height: 41px;
  }

  .dropdown-menu{
    width: 517px;
    height: 616px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
   
    padding: 10px;
    font-size: 15.45px;
  }

  .wrapper{
    padding-top: 5px;
  }

  h2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 150%;
/* or 21px */

letter-spacing: 0.5px;

color: #585858;
  }
  header p{
    margin-top: 5px;
    font-size: 16px;
  }

  .price-input{
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
  }
  .price-input .field{
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
  }
  .field input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .price-input .separator{
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
  .slider{
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
  }
  .slider .progress{
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: #272DBE;
  }
  .range-input{
    position: relative;
  }
  .range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #272DBE;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }
  input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17A2B8;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }
 
 .btn-light{
   background-color: rgba(0, 0, 0, 0.1);
 }
 
 @media only screen and (max-width: 768px) {
   .dropdown-menu{
     height: auto;
     width: auto;
   }
 }